@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
/*All body style*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://github.com/HaneenHaashlamoun/bus-mall/blob/main/img/background.jpg?raw=true");
}

main {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 30px auto;
    padding: 0px;
}

header {
    background-image: url("https://github.com/HaneenHaashlamoun/bus-mall/blob/main/img/header.jpg?raw=true");
    height: 130px;
    margin-bottom: 30px;
}

nav {
    width: 960px;
    margin: 0px auto;
}

nav img {
    margin-top: 15px;
    margin-right: 30px;
    float: left;
    width: 10%;
    height: auto;
}

nav h1 {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: xx-large;
    margin-top: 5%;
    margin-right: 30px;
    float: left;
    color: whitesmoke;
}

#imgsDiv {
    /* display: inline; */
    width: 800px;
    margin: 0px auto;
    padding: 0%;
}

#imgsDiv ul {
    margin: 30px auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

#imgsDiv li {
    display: inline-block;
    margin: 30px, 30px, 30px, 0px;
}

li img {
    width: 250px;
    height: 250px;
}

#listDiv {
    width: 25%;
    height: 500px auto;
    margin: 0px auto;
    padding: 10px;
    background: rgba(152, 76, 175, 0.7);
}

#listDiv ul {
    margin: 30px;
}

#productsList {
    font-family: 'Roboto', sans-serif;
    margin: 50px auto;
    list-style: circle;
    color: whitesmoke;
    line-height: 25px;
    font-size: 15px;
}

button {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: whitesmoke;
    background: indigo;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 350ms;
    cursor: pointer;
}

button:hover {
    background: mediumslateblue;
}

#paragraph {
    display: block;
    height: 250px;
    width: 750px;
    padding: 10px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    background: rgba(152, 76, 175, 0.7);
    font-size: 15px;
}

footer {
    clear: both;
    height: 50px;
    background-image: url("https://github.com/HaneenHaashlamoun/bus-mall/blob/main/img/header.jpg?raw=true");
    font-family: 'Zen Tokyo Zoo', cursive;
    padding: 20px;
    color: whitesmoke;
}